/* Scrollbar styling for Chrome, Edge and Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #e50914;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b20710;
}
